<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Swag Labs Automation Suite">
    <test name="All Tests">
        <classes>
            <class name="AutomationAssignment.Tests.LoginTest"/>
            <class name="AutomationAssignment.Tests.InventoryTest"/>
        </classes>
    </test>
</suite>